<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">Reset Password</div>
        <div class="panel-body">
            <form *ngIf="active" class="form-horizontal" (ngSubmit)="onSubmit()" [ngFormModel]="resetForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': !email.valid && !email.pristine }">
                    <label class="control-label">E-Mail Address</label>
                    <input type="email" class="form-control" ngControl="email">
                    <span *ngIf="!email.valid && !email.pristine" class="help-block">
                        Email is required
                    </span>
                </div>

                <div class="form-group" [ngClass]="{ 'has-error': !password.valid && !password.pristine }">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" ngControl="password">
                    <span *ngIf="!password.valid && !password.pristine" class="help-block">
                        Password
                        <em *ngIf="password.hasError('required')">is required</em>
                        <em *ngIf="password.hasError('minlength')">must be at least 6 characters</em>
                    </span>
                </div>

                <div class="form-group" [ngClass]="{ 'has-error':  !confirm.valid && !confirm.pristine }">
                    <label class="control-label">Confirm Password</label>
                    <input type="password" class="form-control" ngControl="confirm">
                    <span *ngIf="!confirm.valid && !confirm.pristine" class="help-block">
                       Password Confirm
                       <em *ngIf="confirm.hasError('required')">is required</em>
                       <em *ngIf="confirm.hasError('minlength')">must be at least 6 characters</em>
                    </span>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="submit" class="btn btn-primary" [disabled]="!resetForm.valid">
                            <i class="fa fa-btn fa-refresh"></i>Reset Password
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>