<div class="local_margins" options="{ flow : 'column' }">
    <div class="layout_tree col-lg-4" style="height:100%">
        <h3 class="nodes-headings">Node tree</h3>
        <!--<bpm-schema-tree 
            [itemRenderer]="'views/nodes/node_renderer.html'"
            [newNodeObjectId]="adklsfjaksldjfakslfdkfasdfasdkj"
            [nodeManager]="nodeManager"
            [expanderPosition]="left" 
            [treeOptions]="treeOptions"
            (onNodeManagerChanged)="nodeManager = $event.value">
        </bpm-schema-tree>-->

    </div>
    <div class="layout_edit col-lg-5" style="height:100%">
        <h3 class="nodes-headings">Edit</h3>
        <!-- The schema editor, maps to the selected_* $scope variables in the controller -->
        <form name="ngform" 
            sf-model="selected_data" 
            sf-form="selected_form" 
            sf-schema="selected_schema" 
            sf-options="" 
            ng-submit="nodeManager.doSubmit(selected_data)">
        </form>
    </div>
</div>

<div class="layout_history col-lg-3" style="height:100%">
    <h3 class="nodes-headings">History</h3>
    <div *ngFor="let historyItem of nodeManager.history">
        <b>Occurred when:</b> {{historyItem.occurredWhen}}<br/>
        <b>Id:</b> {{ historyItem._id }}<br/>
        <b>User_id:</b> {{historyItem.user_id}}<br/>
        <div *ngIf="historyItem.add">
            <p>Node added: </p>
            <div *ngFor="let value of historyItem.add; let key = index">
                <b>{{key}}</b>: {{value}}<br />
            </div>
        </div>
        <div *ngIf="historyItem.remove">
            <p>Node removes: </p>
            <div *ngFor="let value of historyItem.remove; let key = index">
                <b>{{key}}</b>: {{value}}<br />
            </div>
        </div>
        <div *ngIf="historyItem.change">
            <p>Node changed: </p>
            <div *ngFor="let value of historyItem.change; let key = index">
                <b>{{key}}</b>: {{value}}<br />
            </div>
        </div>

        <br /> -------------------------------
    </div>
</div>