<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->
            <a class="navbar-brand" [routerLink]="['']">Optimal BPM</a>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->
            <ul class="nav navbar-nav">
                <li *ngFor="let item of menus"><a *ngIf="item.type === 'left'" [routerLink]="item.path">{{item.display}}</a></li>
            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">
                <!--Links -->
                <li *ngFor="let item of menus">
									<a *ngIf="item.type === 'right' && (!isLoggedIn && item.showWhenNotLoggedIn)" [routerLink]="item.path">{{item.display}}</a>
								</li>
                <!-- Dropdown Navbar -->
                <li *ngIf="isLoggedIn" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        John Snow <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li *ngFor="let item of menus" >
													<a *ngIf="item.type === 'dropdown'" [routerLink]="item.path">{{item.display}}</a>
												</li>
                        <li *ngIf="isLoggedIn">
													<auth-logout></auth-logout>
												</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
